In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('online_merged.xlsx', sheet_name='merged')

In [3]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,493414,21844,RETRO SPOT MUG,36,2010-01-04 10:28:00,2.55,14590,United Kingdom
1,493414,21533,RETRO SPOT LARGE MILK JUG,12,2010-01-04 10:28:00,4.25,14590,United Kingdom
2,493414,37508,NEW ENGLAND CERAMIC CAKE SERVER,2,2010-01-04 10:28:00,2.55,14590,United Kingdom
3,493414,35001G,HAND OPEN SHAPE GOLD,2,2010-01-04 10:28:00,4.25,14590,United Kingdom
4,493414,21527,RETRO SPOT TRADITIONAL TEAPOT,12,2010-01-04 10:28:00,6.95,14590,United Kingdom

In [4]:

df.describe()

             Invoice       Quantity          Price    Customer ID
count  770692.000000  770692.000000  770692.000000  770692.000000
mean   539271.351953      13.286099       2.993243   15327.973197
std     25509.968171     146.100973      11.160934    1696.651545
min    493414.000000       1.000000       0.001000   12346.000000
25%    517964.000000       2.000000       1.250000   13975.000000
50%    537868.000000       5.000000       1.950000   15260.000000
75%    562460.000000      12.000000       3.750000   16800.000000
max    581587.000000   80995.000000    8142.750000   18287.000000

In [5]:
df1 = df
df1.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,493414,21844,RETRO SPOT MUG,36,2010-01-04 10:28:00,2.55,14590,United Kingdom
1,493414,21533,RETRO SPOT LARGE MILK JUG,12,2010-01-04 10:28:00,4.25,14590,United Kingdom
2,493414,37508,NEW ENGLAND CERAMIC CAKE SERVER,2,2010-01-04 10:28:00,2.55,14590,United Kingdom
3,493414,35001G,HAND OPEN SHAPE GOLD,2,2010-01-04 10:28:00,4.25,14590,United Kingdom
4,493414,21527,RETRO SPOT TRADITIONAL TEAPOT,12,2010-01-04 10:28:00,6.95,14590,United Kingdom

In [6]:
df1_price = df1[(df1[['Price','Quantity']] > 0).all(axis=1)]
df1.describe()

             Invoice       Quantity          Price    Customer ID
count  770692.000000  770692.000000  770692.000000  770692.000000
mean   539271.351953      13.286099       2.993243   15327.973197
std     25509.968171     146.100973      11.160934    1696.651545
min    493414.000000       1.000000       0.001000   12346.000000
25%    517964.000000       2.000000       1.250000   13975.000000
50%    537868.000000       5.000000       1.950000   15260.000000
75%    562460.000000      12.000000       3.750000   16800.000000
max    581587.000000   80995.000000    8142.750000   18287.000000

In [7]:
len(df.StockCode.unique())

4486

In [8]:
unq_desc = df.StockCode.unique()

In [9]:
unq_desc

array([21844, 21533, 37508, ..., 23562, 23561, 23843], dtype=object)

In [10]:
#np.random.seed(1)
sample_desc = np.random.choice(unq_desc, size = 5)

sample_txn = df1[df1['StockCode'].isin(sample_desc)]

sample_txn = sample_txn.sample(n = 20)

len(sample_txn.Invoice.unique())

sample_txn.groupby(['StockCode']).count()

sample_txn['TotalPrice'] = sample_txn['Price']*sample_txn['Quantity']

sample_txn

basket = (sample_txn.groupby(['Invoice', 'Description'])['TotalPrice'] 
          .sum().unstack().reset_index().fillna(0) 
          .set_index('Invoice')) 
basket

Description,FRENCH GARDEN SIGN BLUE METAL,ICON MUG REVOLUTIONARY,POP ART PUSH DOWN RUBBER,THREE CANVAS LUGGAGE TAGS
Invoice,,,,
503541,0.00,0.00,10.08,0.00
519610,3.75,0.00,0.00,0.00
519932,2.50,0.00,0.00,0.00
528923,0.00,0.00,0.42,0.00
529970,15.00,0.00,0.00,0.00
542174,15.00,0.00,0.00,0.00
546543,1.25,0.00,0.00,0.00
546913,0.00,0.00,0.00,1.95
547063,2.50,0.00,0.00,0.00
549055,15.00,0.00,0.00,0.00
549425,0.00,2.34,0.00,0.00
550989,0.00,2.34,0.00,0.00
551385,5.00,0.00,0.00,0.00
551747,0.00,37.44,0.00,0.00
564727,0.00,2.34,0.00,0.00
572317,0.00,2.34,0.00,0.00
573332,0.00,0.39,0.00,0.00
578290,15.00,0.00,0.00,0.00
580720,0.00,0.78,0.00,0.00
580727,0.00,0.00,0.00,4.13

In [111]:
sample_txn.sort_values(['Description'])

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalPrice
205223,519610,22673,FRENCH GARDEN SIGN BLUE METAL,3,2010-08-18 16:54:00,1.25,15494,United Kingdom,3.75
417150,542174,22673,FRENCH GARDEN SIGN BLUE METAL,12,2011-01-26 11:14:00,1.25,16043,United Kingdom,15.00
299527,529970,22673,FRENCH GARDEN SIGN BLUE METAL,12,2010-10-31 15:15:00,1.25,17951,United Kingdom,15.00
472685,549055,22673,FRENCH GARDEN SIGN BLUE METAL,12,2011-04-06 10:33:00,1.25,13515,United Kingdom,15.00
456880,547063,22673,FRENCH GARDEN SIGN BLUE METAL,2,2011-03-20 13:33:00,1.25,14769,United Kingdom,2.50
490439,551385,22673,FRENCH GARDEN SIGN BLUE METAL,4,2011-04-28 11:38:00,1.25,16814,United Kingdom,5.00
738645,578290,22673,FRENCH GARDEN SIGN BLUE METAL,12,2011-11-23 14:07:00,1.25,13644,United Kingdom,15.00
209004,519932,22673,FRENCH GARDEN SIGN BLUE METAL,2,2010-08-22 16:05:00,1.25,17231,United Kingdom,2.50
452491,546543,22673,FRENCH GARDEN SIGN BLUE METAL,1,2011-03-14 15:40:00,1.25,17841,United Kingdom,1.25
487817,550989,37413,ICON MUG REVOLUTIONARY,6,2011-04-21 18:22:00,0.39,13969,United Kingdom,2.34
675054,572317,37413,ICON MUG REVOLUTIONARY,6,2011-10-23 16:13:00,0.39,14629,United Kingdom,2.34
684827,573332,37413,ICON MUG REVOLUTIONARY,1,2011-10-30 11:28:00,0.39,15059,United Kingdom,0.39
492762,551747,37413,ICON MUG REVOLUTIONARY,96,2011-05-04 11:00:00,0.39,14298,United Kingdom,37.44
475304,549425,37413,ICON MUG REVOLUTIONARY,6,2011-04-08 11:54:00,0.39,14030,United Kingdom,2.34
762183,580720,37413,ICON MUG REVOLUTIONARY,2,2011-12-05 16:55:00,0.39,14629,United Kingdom,0.78
598148,564727,37413,ICON MUG REVOLUTIONARY,6,2011-08-28 12:31:00,0.39,16686,United Kingdom,2.34
291123,528923,16043,POP ART PUSH DOWN RUBBER,1,2010-10-25 14:41:00,0.42,14413,United Kingdom,0.42
77686,503541,16043,POP ART PUSH DOWN RUBBER,24,2010-04-01 14:18:00,0.42,14748,United Kingdom,10.08
455263,546913,85095,THREE CANVAS LUGGAGE TAGS,1,2011-03-17 20:18:00,1.95,15861,United Kingdom,1.95
762779,580727,85095,THREE CANVAS LUGGAGE TAGS,1,2011-12-05 17:17:00,4.13,14096,United Kingdom,4.13

In [241]:
avgs = sample_txn.groupby(['Description']).mean()
avgs

,Invoice,Quantity,Price,Customer ID,TotalPrice
Description,,,,,
FRENCH GARDEN SIGN BLUE METAL,542669.111111,6.666667,1.25,15922.444444,8.333333
ICON MUG REVOLUTIONARY,563322.428571,17.571429,0.39,14757.142857,6.852857
POP ART PUSH DOWN RUBBER,516232.000000,12.500000,0.42,14580.500000,5.250000
THREE CANVAS LUGGAGE TAGS,563820.000000,1.000000,3.04,14978.500000,3.040000

In [46]:
basket.iloc[1]['ICON MUG REVOLUTIONARY'] = 1.56
basket.iloc[5]['ICON MUG REVOLUTIONARY'] = 1.56
basket.iloc[7]['ICON MUG REVOLUTIONARY'] = 1.56
basket.iloc[19]['ICON MUG REVOLUTIONARY'] = 1.56
basket.iloc[18]['FRENCH GARDEN SIGN BLUE METAL'] = 5.0
basket.iloc[19]['FRENCH GARDEN SIGN BLUE METAL'] = 5.0

Description,FRENCH GARDEN SIGN BLUE METAL,ICON MUG REVOLUTIONARY,POP ART PUSH DOWN RUBBER,THREE CANVAS LUGGAGE TAGS
Invoice,,,,
503541,0.00,0.00,10.08,0.00
519610,3.75,1.56,0.00,0.00
519932,2.50,0.00,0.00,0.00
528923,0.00,0.00,0.42,0.00
529970,15.00,0.00,0.00,0.00
542174,15.00,1.56,0.00,0.00
546543,1.25,0.00,0.00,0.00
546913,0.00,1.56,0.00,1.95
547063,2.50,0.00,0.00,0.00
549055,15.00,0.00,0.00,0.00
549425,0.00,2.34,0.00,0.00
550989,0.00,2.34,0.00,0.00
551385,5.00,0.00,0.00,0.00
551747,0.00,37.44,0.00,0.00
564727,0.00,2.34,0.00,0.00
572317,0.00,2.34,0.00,0.00
573332,0.00,0.39,0.00,0.00
578290,15.00,0.00,0.00,0.00
580720,5.00,0.78,0.00,0.00
580727,5.00,1.56,0.00,4.13

In [58]:

basket

Description,FRENCH GARDEN SIGN BLUE METAL,ICON MUG REVOLUTIONARY,POP ART PUSH DOWN RUBBER,THREE CANVAS LUGGAGE TAGS
Invoice,,,,
503541,0.00,0.00,10.08,0.00
519610,3.75,1.56,0.00,0.00
519932,2.50,0.00,0.00,0.00
528923,0.00,0.00,0.42,0.00
529970,15.00,0.00,0.00,0.00
542174,15.00,1.56,0.00,0.00
546543,1.25,0.00,0.00,0.00
546913,0.00,1.56,0.00,1.95
547063,2.50,0.00,0.00,0.00
549055,15.00,0.00,0.00,0.00
549425,0.00,2.34,0.00,0.00
550989,0.00,2.34,0.00,0.00
551385,5.00,0.00,0.00,0.00
551747,0.00,37.44,0.00,0.00
564727,0.00,2.34,0.00,0.00
572317,0.00,2.34,0.00,0.00
573332,0.00,0.39,0.00,0.00
578290,15.00,0.00,0.00,0.00
580720,5.00,0.78,0.00,0.00
580727,5.00,1.56,0.00,4.13

In [79]:
invoice_sum = list(basket.sum(axis = 1))

In [80]:
invoice_sum

[10.08,
 5.3100000000000005,
 2.5,
 0.42,
 15.0,
 16.56,
 1.25,
 3.51,
 2.5,
 15.0,
 2.34,
 2.34,
 5.0,
 37.44,
 2.34,
 2.34,
 0.39,
 15.0,
 5.78,
 10.690000000000001]

In [67]:
len(invoice_sum)

20

In [11]:
basket.to_csv ('basket.csv', index = True, header=True)

In [54]:
list2 = list(basket.columns)

In [55]:
list2

['FRENCH GARDEN SIGN BLUE METAL',
 'ICON MUG REVOLUTIONARY',
 'POP ART PUSH DOWN RUBBER ',
 'THREE CANVAS LUGGAGE TAGS']

In [68]:
print('itemwise sum: ',basket.sum())
print('total sum: ', basket.sum().sum())

itemwise sum:  Description
FRENCH GARDEN SIGN BLUE METAL    85.00
ICON MUG REVOLUTIONARY           54.21
POP ART PUSH DOWN RUBBER         10.50
THREE CANVAS LUGGAGE TAGS         6.08
dtype: float64
total sum:  155.79000000000002

In [57]:
import itertools
subsets = []
stuff = list2
for L in range(0, len(stuff)+1):
    for subset in itertools.combinations(stuff, L):
        subsets.append(list(subset))

subsets

[[],
 ['FRENCH GARDEN SIGN BLUE METAL'],
 ['ICON MUG REVOLUTIONARY'],
 ['POP ART PUSH DOWN RUBBER '],
 ['THREE CANVAS LUGGAGE TAGS'],
 ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'],
 ['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER '],
 ['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS'],
 ['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER '],
 ['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'],
 ['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS'],
 ['FRENCH GARDEN SIGN BLUE METAL',
  'ICON MUG REVOLUTIONARY',
  'POP ART PUSH DOWN RUBBER '],
 ['FRENCH GARDEN SIGN BLUE METAL',
  'ICON MUG REVOLUTIONARY',
  'THREE CANVAS LUGGAGE TAGS'],
 ['FRENCH GARDEN SIGN BLUE METAL',
  'POP ART PUSH DOWN RUBBER ',
  'THREE CANVAS LUGGAGE TAGS'],
 ['ICON MUG REVOLUTIONARY',
  'POP ART PUSH DOWN RUBBER ',
  'THREE CANVAS LUGGAGE TAGS'],
 ['FRENCH GARDEN SIGN BLUE METAL',
  'ICON MUG REVOLUTIONARY',
  'POP ART PUSH DOWN RUBBER ',
  'THREE CANVAS LUGGAGE TAGS']]

In [ ]:
sums = []
for sub in subsets:
    sum1 = 0

In [71]:
sub  = ['FRENCH GARDEN SIGN BLUE METAL',  'ICON MUG REVOLUTIONARY']
col_list_full = []
for index, row in basket.iterrows():
    col_list = []
    for col in basket:
            #if col in 
        if(basket.at[index,col]!=0.0):
            col_list.append(col)
    col_list_full.append(col_list)
    #print('-------------------------------------------------------------------------')
            #print(round(row.sum(),2))
col_list_full

[['POP ART PUSH DOWN RUBBER '],
 ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'],
 ['FRENCH GARDEN SIGN BLUE METAL'],
 ['POP ART PUSH DOWN RUBBER '],
 ['FRENCH GARDEN SIGN BLUE METAL'],
 ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'],
 ['FRENCH GARDEN SIGN BLUE METAL'],
 ['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'],
 ['FRENCH GARDEN SIGN BLUE METAL'],
 ['FRENCH GARDEN SIGN BLUE METAL'],
 ['ICON MUG REVOLUTIONARY'],
 ['ICON MUG REVOLUTIONARY'],
 ['FRENCH GARDEN SIGN BLUE METAL'],
 ['ICON MUG REVOLUTIONARY'],
 ['ICON MUG REVOLUTIONARY'],
 ['ICON MUG REVOLUTIONARY'],
 ['ICON MUG REVOLUTIONARY'],
 ['FRENCH GARDEN SIGN BLUE METAL'],
 ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'],
 ['FRENCH GARDEN SIGN BLUE METAL',
  'ICON MUG REVOLUTIONARY',
  'THREE CANVAS LUGGAGE TAGS']]

In [230]:
before_grp = []
for i in range (len(basket)):
    temp = [str(col_list_full[i]),round(invoice_sum[i])]
    #print(col_list_full[i], ' ',invoice_sum[i])
    before_grp.append(temp)

In [231]:
before_grp

[["['POP ART PUSH DOWN RUBBER ']", 10],
 ["['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']", 5],
 ["['FRENCH GARDEN SIGN BLUE METAL']", 2],
 ["['POP ART PUSH DOWN RUBBER ']", 0],
 ["['FRENCH GARDEN SIGN BLUE METAL']", 15],
 ["['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']", 17],
 ["['FRENCH GARDEN SIGN BLUE METAL']", 1],
 ["['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']", 4],
 ["['FRENCH GARDEN SIGN BLUE METAL']", 2],
 ["['FRENCH GARDEN SIGN BLUE METAL']", 15],
 ["['ICON MUG REVOLUTIONARY']", 2],
 ["['ICON MUG REVOLUTIONARY']", 2],
 ["['FRENCH GARDEN SIGN BLUE METAL']", 5],
 ["['ICON MUG REVOLUTIONARY']", 37],
 ["['ICON MUG REVOLUTIONARY']", 2],
 ["['ICON MUG REVOLUTIONARY']", 2],
 ["['ICON MUG REVOLUTIONARY']", 0],
 ["['FRENCH GARDEN SIGN BLUE METAL']", 15],
 ["['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']", 6],
 ["['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']",
  11]]

In [232]:
e_dataframe = pd.DataFrame(before_grp)
e_dataframe.columns = ['a', 'b']

In [233]:
e_dataframe

                                                    a   b
0                       ['POP ART PUSH DOWN RUBBER ']  10
1   ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG RE...   5
2                   ['FRENCH GARDEN SIGN BLUE METAL']   2
3                       ['POP ART PUSH DOWN RUBBER ']   0
4                   ['FRENCH GARDEN SIGN BLUE METAL']  15
5   ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG RE...  17
6                   ['FRENCH GARDEN SIGN BLUE METAL']   1
7   ['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGA...   4
8                   ['FRENCH GARDEN SIGN BLUE METAL']   2
9                   ['FRENCH GARDEN SIGN BLUE METAL']  15
10                         ['ICON MUG REVOLUTIONARY']   2
11                         ['ICON MUG REVOLUTIONARY']   2
12                  ['FRENCH GARDEN SIGN BLUE METAL']   5
13                         ['ICON MUG REVOLUTIONARY']  37
14                         ['ICON MUG REVOLUTIONARY']   2
15                         ['ICON MUG REVOLUTIONARY']   2
16                         ['ICON MUG REVOLUTIONARY']   0
17                  ['FRENCH GARDEN SIGN BLUE METAL']  15
18  ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG RE...   6
19  ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG RE...  11

In [234]:
groupped_sum = pd.DataFrame(e_dataframe.groupby(['a']).sum())
groupped_sum.reset_index(level=0, inplace=True)
groupped_sum.columns = ['a', 'b']

In [235]:
groupped_sum

                                                   a   b
0  ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG RE...  11
1  ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG RE...  28
2                  ['FRENCH GARDEN SIGN BLUE METAL']  55
3  ['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGA...   4
4                         ['ICON MUG REVOLUTIONARY']  45
5                      ['POP ART PUSH DOWN RUBBER ']  10

In [177]:
all_sums = []
for sub in subsets:
    print('subset id:', subsets.index(sub))
    print("step1")
    print('----------')
    sum1 = 0
    for index, row in groupped_sum.iterrows():
        print('entering loop 1')
        
        if(str(sub) == row['a']):
            print(sub, ' ', 'True')
            stuff = sub
            
            new_sub = []
            for L in range(1, len(stuff)+1):
                for subset in itertools.combinations(stuff, L):
                    new_sub.append(list(subset))
            for item in new_sub:
                print('entering loop 2')
                
                if(str(item) == row['a']):
                    Index_label = groupped_sum[groupped_sum['a'] == str(item)].index
                    print(groupped_sum['b'][Index_label].values[0] )
                    sum1+=groupped_sum['b'][Index_label].values[0]
        else:
            print(sub, ' ', 'False')
    all_sums.append(sum1)
    print('main loop complete')
    print('---------------------------------------------------------------------')

subset id: 0
step1
----------
entering loop 1
[]   False
entering loop 1
[]   False
entering loop 1
[]   False
entering loop 1
[]   False
entering loop 1
[]   False
entering loop 1
[]   False
main loop complete
---------------------------------------------------------------------
subset id: 1
step1
----------
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL']   True
entering loop 2
56.25
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL']   False
main loop complete
---------------------------------------------------------------------
subset id: 2
step1
----------
entering loop 1
['ICON MUG REVOLUTIONARY']   False
entering loop 1
['ICON MUG REVOLUTIONARY']   False
entering loop 1
['ICON MUG REVOLUTIONARY']   False
entering loop 1
['ICON MUG REVOLUTIONARY']   False
entering loop 1
['ICON MUG REVOLUTIONARY']   True
entering loop 2
47.19
entering loop 1
['ICON MUG REVOLUTIONARY']   False
main loop complete
---------------------------------------------------------------------
subset id: 3
step1
----------
entering loop 1
['POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['POP ART PUSH DOWN RUBBER ']   True
entering loop 2
10.5
main loop complete
---------------------------------------------------------------------
subset id: 4
step1
----------
entering loop 1
['THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['THREE CANVAS LUGGAGE TAGS']   False
main loop complete
---------------------------------------------------------------------
subset id: 5
step1
----------
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']   True
entering loop 2
entering loop 2
entering loop 2
27.65
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']   False
main loop complete
---------------------------------------------------------------------
subset id: 6
step1
----------
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ']   False
main loop complete
---------------------------------------------------------------------
subset id: 7
step1
----------
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS']   False
main loop complete
---------------------------------------------------------------------
subset id: 8
step1
----------
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
main loop complete
---------------------------------------------------------------------
subset id: 9
step1
----------
entering loop 1
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   True
entering loop 2
entering loop 2
entering loop 2
3.51
entering loop 1
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   False
main loop complete
---------------------------------------------------------------------
subset id: 10
step1
----------
entering loop 1
['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
main loop complete
---------------------------------------------------------------------
subset id: 11
step1
----------
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   False
main loop complete
---------------------------------------------------------------------
subset id: 12
step1
----------
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   True
entering loop 2
entering loop 2
entering loop 2
entering loop 2
entering loop 2
entering loop 2
entering loop 2
10.690000000000001
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   False
main loop complete
---------------------------------------------------------------------
subset id: 13
step1
----------
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
main loop complete
---------------------------------------------------------------------
subset id: 14
step1
----------
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
main loop complete
---------------------------------------------------------------------
subset id: 15
step1
----------
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
entering loop 1
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   False
main loop complete
---------------------------------------------------------------------

In [212]:
all_sums = []
for sub in subsets:
    print('subset id:', subsets.index(sub))
    print("step1")
    print('----------')
    sum1 = 0
    index = groupped_sum[groupped_sum['a'] == str(sub)].index
    if index.empty:
        print('None')
    else:
        print(sub, index)
    for index, row in groupped_sum.iterrows():
        #print('entering loop 1')
        
        if(str(sub) == row['a']):
            #print(sub, ' ', 'True')
            stuff = sub
            
            new_sub = []
            for L in range(1, len(stuff)+1):
                for subset in itertools.combinations(stuff, L):
                    new_sub.append(list(subset))
            for item in new_sub:
                #print('entering loop 2')
                
                if(str(item) == row['a']):
                    Index_label = groupped_sum[groupped_sum['a'] == str(item)].index
                    #print(groupped_sum['b'][Index_label].values[0] )
                    sum1+=groupped_sum['b'][Index_label].values[0]
        else:
            #print(sub, ' ', 'False')
            continue
    all_sums.append(sum1)
    print('main loop complete')
    print('---------------------------------------------------------------------')

subset id: 0
step1
----------
None
main loop complete
---------------------------------------------------------------------
subset id: 1
step1
----------
['FRENCH GARDEN SIGN BLUE METAL'] Int64Index([2], dtype='int64')
main loop complete
---------------------------------------------------------------------
subset id: 2
step1
----------
['ICON MUG REVOLUTIONARY'] Int64Index([4], dtype='int64')
main loop complete
---------------------------------------------------------------------
subset id: 3
step1
----------
['POP ART PUSH DOWN RUBBER '] Int64Index([5], dtype='int64')
main loop complete
---------------------------------------------------------------------
subset id: 4
step1
----------
None
main loop complete
---------------------------------------------------------------------
subset id: 5
step1
----------
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'] Int64Index([1], dtype='int64')
main loop complete
---------------------------------------------------------------------
subset id: 6
step1
----------
None
main loop complete
---------------------------------------------------------------------
subset id: 7
step1
----------
None
main loop complete
---------------------------------------------------------------------
subset id: 8
step1
----------
None
main loop complete
---------------------------------------------------------------------
subset id: 9
step1
----------
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'] Int64Index([3], dtype='int64')
main loop complete
---------------------------------------------------------------------
subset id: 10
step1
----------
None
main loop complete
---------------------------------------------------------------------
subset id: 11
step1
----------
None
main loop complete
---------------------------------------------------------------------
subset id: 12
step1
----------
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'] Int64Index([0], dtype='int64')
main loop complete
---------------------------------------------------------------------
subset id: 13
step1
----------
None
main loop complete
---------------------------------------------------------------------
subset id: 14
step1
----------
None
main loop complete
---------------------------------------------------------------------
subset id: 15
step1
----------
None
main loop complete
---------------------------------------------------------------------

In [236]:
all_sums = []
for sub in subsets:
    sum1 = 0
    print('subset id:', subsets.index(sub))
    print("step1")
    #print(sub)
    print('------------')
    stuff = sub
    new_sub = []
    for L in range(1, len(stuff)+1):
        for subset in itertools.combinations(stuff, L):
            new_sub.append(list(subset))
    print(new_sub)
    for item in new_sub:
        index = groupped_sum[groupped_sum['a'] == str(item)].index
        if index.empty:
            print('None')
        else:
            print(item, index)
            sum1+=groupped_sum['b'][index].values[0]
    all_sums.append(sum1)
    print('------------------------------------------------------------')

subset id: 0
step1
------------
[]
------------------------------------------------------------
subset id: 1
step1
------------
[['FRENCH GARDEN SIGN BLUE METAL']]
['FRENCH GARDEN SIGN BLUE METAL'] Int64Index([2], dtype='int64')
------------------------------------------------------------
subset id: 2
step1
------------
[['ICON MUG REVOLUTIONARY']]
['ICON MUG REVOLUTIONARY'] Int64Index([4], dtype='int64')
------------------------------------------------------------
subset id: 3
step1
------------
[['POP ART PUSH DOWN RUBBER ']]
['POP ART PUSH DOWN RUBBER '] Int64Index([5], dtype='int64')
------------------------------------------------------------
subset id: 4
step1
------------
[['THREE CANVAS LUGGAGE TAGS']]
None
------------------------------------------------------------
subset id: 5
step1
------------
[['FRENCH GARDEN SIGN BLUE METAL'], ['ICON MUG REVOLUTIONARY'], ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']]
['FRENCH GARDEN SIGN BLUE METAL'] Int64Index([2], dtype='int64')
['ICON MUG REVOLUTIONARY'] Int64Index([4], dtype='int64')
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'] Int64Index([1], dtype='int64')
------------------------------------------------------------
subset id: 6
step1
------------
[['FRENCH GARDEN SIGN BLUE METAL'], ['POP ART PUSH DOWN RUBBER '], ['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ']]
['FRENCH GARDEN SIGN BLUE METAL'] Int64Index([2], dtype='int64')
['POP ART PUSH DOWN RUBBER '] Int64Index([5], dtype='int64')
None
------------------------------------------------------------
subset id: 7
step1
------------
[['FRENCH GARDEN SIGN BLUE METAL'], ['THREE CANVAS LUGGAGE TAGS'], ['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS']]
['FRENCH GARDEN SIGN BLUE METAL'] Int64Index([2], dtype='int64')
None
None
------------------------------------------------------------
subset id: 8
step1
------------
[['ICON MUG REVOLUTIONARY'], ['POP ART PUSH DOWN RUBBER '], ['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']]
['ICON MUG REVOLUTIONARY'] Int64Index([4], dtype='int64')
['POP ART PUSH DOWN RUBBER '] Int64Index([5], dtype='int64')
None
------------------------------------------------------------
subset id: 9
step1
------------
[['ICON MUG REVOLUTIONARY'], ['THREE CANVAS LUGGAGE TAGS'], ['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']]
['ICON MUG REVOLUTIONARY'] Int64Index([4], dtype='int64')
None
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'] Int64Index([3], dtype='int64')
------------------------------------------------------------
subset id: 10
step1
------------
[['POP ART PUSH DOWN RUBBER '], ['THREE CANVAS LUGGAGE TAGS'], ['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']]
['POP ART PUSH DOWN RUBBER '] Int64Index([5], dtype='int64')
None
None
------------------------------------------------------------
subset id: 11
step1
------------
[['FRENCH GARDEN SIGN BLUE METAL'], ['ICON MUG REVOLUTIONARY'], ['POP ART PUSH DOWN RUBBER '], ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'], ['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER '], ['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER '], ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']]
['FRENCH GARDEN SIGN BLUE METAL'] Int64Index([2], dtype='int64')
['ICON MUG REVOLUTIONARY'] Int64Index([4], dtype='int64')
['POP ART PUSH DOWN RUBBER '] Int64Index([5], dtype='int64')
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'] Int64Index([1], dtype='int64')
None
None
None
------------------------------------------------------------
subset id: 12
step1
------------
[['FRENCH GARDEN SIGN BLUE METAL'], ['ICON MUG REVOLUTIONARY'], ['THREE CANVAS LUGGAGE TAGS'], ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'], ['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS'], ['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'], ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']]
['FRENCH GARDEN SIGN BLUE METAL'] Int64Index([2], dtype='int64')
['ICON MUG REVOLUTIONARY'] Int64Index([4], dtype='int64')
None
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'] Int64Index([1], dtype='int64')
None
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'] Int64Index([3], dtype='int64')
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'] Int64Index([0], dtype='int64')
------------------------------------------------------------
subset id: 13
step1
------------
[['FRENCH GARDEN SIGN BLUE METAL'], ['POP ART PUSH DOWN RUBBER '], ['THREE CANVAS LUGGAGE TAGS'], ['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER '], ['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS'], ['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS'], ['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']]
['FRENCH GARDEN SIGN BLUE METAL'] Int64Index([2], dtype='int64')
['POP ART PUSH DOWN RUBBER '] Int64Index([5], dtype='int64')
None
None
None
None
None
------------------------------------------------------------
subset id: 14
step1
------------
[['ICON MUG REVOLUTIONARY'], ['POP ART PUSH DOWN RUBBER '], ['THREE CANVAS LUGGAGE TAGS'], ['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER '], ['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'], ['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS'], ['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']]
['ICON MUG REVOLUTIONARY'] Int64Index([4], dtype='int64')
['POP ART PUSH DOWN RUBBER '] Int64Index([5], dtype='int64')
None
None
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'] Int64Index([3], dtype='int64')
None
None
------------------------------------------------------------
subset id: 15
step1
------------
[['FRENCH GARDEN SIGN BLUE METAL'], ['ICON MUG REVOLUTIONARY'], ['POP ART PUSH DOWN RUBBER '], ['THREE CANVAS LUGGAGE TAGS'], ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'], ['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER '], ['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS'], ['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER '], ['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'], ['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS'], ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER '], ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'], ['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS'], ['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS'], ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']]
['FRENCH GARDEN SIGN BLUE METAL'] Int64Index([2], dtype='int64')
['ICON MUG REVOLUTIONARY'] Int64Index([4], dtype='int64')
['POP ART PUSH DOWN RUBBER '] Int64Index([5], dtype='int64')
None
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'] Int64Index([1], dtype='int64')
None
None
None
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'] Int64Index([3], dtype='int64')
None
None
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'] Int64Index([0], dtype='int64')
None
None
None
------------------------------------------------------------

In [237]:
for i in range(len(all_sums)):
    print(subsets[i], " ", all_sums[i])

[]   0
['FRENCH GARDEN SIGN BLUE METAL']   55
['ICON MUG REVOLUTIONARY']   45
['POP ART PUSH DOWN RUBBER ']   10
['THREE CANVAS LUGGAGE TAGS']   0
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']   128
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ']   65
['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS']   55
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   55
['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   49
['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   10
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ']   138
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS']   143
['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   65
['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   59
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS']   153

In [242]:
A = 72.6666/60
B = 64.6666/123
C = 10/25
D = 5.6666/2
print(A - 1.25)
print(B - 0.39)
print(C - 0.42)
print(D - 3.04)

-0.03888999999999987
0.1357447154471545
-0.019999999999999962
-0.2067000000000001

In [229]:
groupped_sum

                                                   a      b
0  ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG RE...  10.69
1  ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG RE...  27.65
2                  ['FRENCH GARDEN SIGN BLUE METAL']  56.25
3  ['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGA...   3.51
4                         ['ICON MUG REVOLUTIONARY']  47.19
5                      ['POP ART PUSH DOWN RUBBER ']  10.50

In [228]:
basket

Description,FRENCH GARDEN SIGN BLUE METAL,ICON MUG REVOLUTIONARY,POP ART PUSH DOWN RUBBER,THREE CANVAS LUGGAGE TAGS
Invoice,,,,
503541,0.00,0.00,10.08,0.00
519610,3.75,1.56,0.00,0.00
519932,2.50,0.00,0.00,0.00
528923,0.00,0.00,0.42,0.00
529970,15.00,0.00,0.00,0.00
542174,15.00,1.56,0.00,0.00
546543,1.25,0.00,0.00,0.00
546913,0.00,1.56,0.00,1.95
547063,2.50,0.00,0.00,0.00
549055,15.00,0.00,0.00,0.00
549425,0.00,2.34,0.00,0.00
550989,0.00,2.34,0.00,0.00
551385,5.00,0.00,0.00,0.00
551747,0.00,37.44,0.00,0.00
564727,0.00,2.34,0.00,0.00
572317,0.00,2.34,0.00,0.00
573332,0.00,0.39,0.00,0.00
578290,15.00,0.00,0.00,0.00
580720,5.00,0.78,0.00,0.00
580727,5.00,1.56,0.00,4.13

In [209]:
sub = "['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']"


#sub == groupped_sum.a.astype(str)[1]

groupped_sum[groupped_sum['a'] == sub].index.values[0]

1

In [187]:
print(groupped_sum.a[1])
print(subsets[5])
str(groupped_sum.a[1]) == str(subsets[5])

['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']
['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY']

True

In [ ]:
list2

In [174]:
subsets

[[],
 ['FRENCH GARDEN SIGN BLUE METAL'],
 ['ICON MUG REVOLUTIONARY'],
 ['POP ART PUSH DOWN RUBBER '],
 ['THREE CANVAS LUGGAGE TAGS'],
 ['FRENCH GARDEN SIGN BLUE METAL', 'ICON MUG REVOLUTIONARY'],
 ['FRENCH GARDEN SIGN BLUE METAL', 'POP ART PUSH DOWN RUBBER '],
 ['FRENCH GARDEN SIGN BLUE METAL', 'THREE CANVAS LUGGAGE TAGS'],
 ['ICON MUG REVOLUTIONARY', 'POP ART PUSH DOWN RUBBER '],
 ['ICON MUG REVOLUTIONARY', 'THREE CANVAS LUGGAGE TAGS'],
 ['POP ART PUSH DOWN RUBBER ', 'THREE CANVAS LUGGAGE TAGS'],
 ['FRENCH GARDEN SIGN BLUE METAL',
  'ICON MUG REVOLUTIONARY',
  'POP ART PUSH DOWN RUBBER '],
 ['FRENCH GARDEN SIGN BLUE METAL',
  'ICON MUG REVOLUTIONARY',
  'THREE CANVAS LUGGAGE TAGS'],
 ['FRENCH GARDEN SIGN BLUE METAL',
  'POP ART PUSH DOWN RUBBER ',
  'THREE CANVAS LUGGAGE TAGS'],
 ['ICON MUG REVOLUTIONARY',
  'POP ART PUSH DOWN RUBBER ',
  'THREE CANVAS LUGGAGE TAGS'],
 ['FRENCH GARDEN SIGN BLUE METAL',
  'ICON MUG REVOLUTIONARY',
  'POP ART PUSH DOWN RUBBER ',
  'THREE CANVAS LUGGAGE TAGS']]

In [124]:
#
#for i in range (len(subsets)):
#    sub = subsets[i]
#    inv = inverse_subsets[i]
#    for item in sub:
#        print(item)
#        for index, row in basket.iterrows():
#            if item in sub and item not in inv:
#                print(row[item])
#        print('----------------------------------------------------')

In [22]:
subset_sums = []

for i in range len(subsets):
    
    sum1 = 0
    for item in subsets[i]:
        if item not in 
        sum1 = sum1 + basket[item].sum()
        #print(item, basket2[item].sum())
    subset_sums.append(sum1)

SyntaxError: invalid syntax (<ipython-input-22-61ee71113bfc>, line 3)

In [ ]:
for i in range(len(subsets)):
    print(subsets[i], " " , round(subset_sums[i],2) )
    print('---------------------------------------------------------------')

In [ ]:
import shap

In [ ]:
pip install shap